*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
}

/*! mobil start  */

/*? start game start  */

.start-container {
  margin: 0 auto;
  background-color: #152938;
  font-family: "Atkinson Hyperlegible", sans-serif;
  padding-bottom: 116px;
}

/* header start  */

.header {
  margin: 0 auto;
  width: 125px;
  padding-top: 80px;
  padding-bottom: 45px;
}

/* header end  */

/* entry start  */

.entry {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #fcfcfc;
  padding-bottom: 30px;
  padding-top: 24px;
  margin: 0 auto;
  border-radius: 12px;
  margin-inline: 24px;
}

.entry-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 auto;
  margin-inline: 24px;
}

.entry-box button {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.84px;
  text-align: center;
  color: #fcfcfc;
}

.entry-box p {
  font-size: 15px;
  font-weight: 700;
  line-height: 18.6px;
  text-align: left;
  color: #7191a5;
}

.entry-box-button-theme {
  display: flex;
  gap: 11px;
}

.entry-box-button-theme button {
  border: none;
  border-radius: 25px;
  background-color: #bcced9;
}

.entry-box-button-theme .number {
  background-color: #304859;
  padding: 10px 35px;
}

.entry-box-button-theme .icon {
  padding: 10px 45px;
}

.entry-box-button-number {
  display: flex;
  gap: 10px;
}

.entry-box-button-number button {
  border: none;
  border-radius: 20px;
  padding: 10px 27px;
  background-color: #bcced9;
}

.entry-box-button-number .number1 {
  background-color: #304859;
}

.entry-box-button-grid {
  display: flex;
  gap: 11px;
  margin-bottom: 8px;
}

.entry-box-button-grid button {
  border: none;
  border-radius: 25px;
  background-color: #bcced9;
  padding: 10px 52px;
}

.entry-box-button-grid .x4 {
  background-color: #304859;
}

.start-btn {
  margin: 0 auto;
  margin-inline: 25px;
}

.start-btn a {
  font-size: 18px;
  font-weight: 700;
  line-height: 22.32px;
  text-align: center;
  text-decoration: none;
  color: #fcfcfc;
  background-color: #fda214;
  border-radius: 25px;
  padding: 12px 81px;
}

/* entry end  */

/*? start game end  */

/*? multiplayer 6x6 start  */

.container {
  margin: 0 auto;
  background-color: #fcfcfc;
  font-family: "Atkinson Hyperlegible", sans-serif;
  padding-top: 24px;
}

/* header start  */

.game-header {
  display: flex;
  justify-content: space-between;
  margin-inline: 24px;
  padding-bottom: 80px;
}

.game-header a {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.84px;
  text-align: center;
  text-decoration: none;
  padding: 10px 18px;
  background-color: #fda214;
  color: #fcfcfc;
  border-radius: 20px;
}

.tab-header-btn {
  display: none;
}

/* header end  */

/* choose start  */

.choose {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 327px;
  margin: 0 auto;
  gap: 10px;
  padding-bottom: 94px;
}

.choose button {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.76px;
  text-align: center;
  border: none;
  border-radius: 50%;
  background-color: #bcced9;
  color: #fcfcfc;
  width: 47px;
  height: 47px;
}

/* choose end  */

/* footer start  */

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  width: 327px;
  margin: 0 auto;
  padding-bottom: 24px;
}

.footer-box:active {
  background-color: #fda214;
  color: #fcfcfc;
}



.footer-box:active::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 19px solid transparent;
  border-bottom-color: #fda214;
  top: -34px;
  left: 12px;
}

.footer-box:active::after {
  content: " ";
  color: #152938;
}

.footer-box {
  padding: 10px 14px;
  background-color: #dfe7ec;
  border-radius: 10px;
  position: relative;
}

.footer-box p {
  font-size: 15px;
  font-weight: 700;
  line-height: 18.6px;
  text-align: center;
  color: #7191a5;
}

.user {
  display: none;
}

.footer-box h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.76px;
  text-align: center;
  color: #304859;
}

/*? multiplayer 6x6 end  */

/*? solo 6x6 start  */

/* footer start  */

.solo-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 327px;
  margin: 0 auto;
  padding-bottom: 24px;
}

.solo-footer p {
  font-size: 15px;
  font-weight: 700;
  line-height: 18.6px;
  text-align: center;
  color: #7191a5;
}

.solo-footer h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.76px;
  text-align: center;
  color: #304859;
}

.solo-footer-box {
  padding: 10px 30px;
  background-color: #dfe7ec;
  border-radius: 8px;
}



/* footer end  */

/*? solo 6x6 end  */

/*? multi 4x4 start  */

/* choose start  */

.choose-x4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 327px;
  margin: 0 auto;
  gap: 12px;
  padding-bottom: 94px;
}

.choose-x4 button {
  font-size: 40px;
  font-weight: 700;
  line-height: 49.6px;
  text-align: center;
  border: none;
  border-radius: 50%;
  background-color: #bcced9;
  color: #fcfcfc;
  width: 50px;
  height: 50px;
}

/* choose end  */

/*? multi 4x4 end  */

/*? multi win start  */

.win-container {
  margin: 0 auto;
  background-color: #fcfcfc;
  font-family: "Atkinson Hyperlegible", sans-serif;
  padding-top: 24px;
}

/* header start  */

.win-header {
  margin: 0 auto;
  margin-bottom: 24px;
}

.win-header h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.76px;
  text-align: center;
  color: #152938;
}

.win-header p {
  font-size: 14px;
  font-weight: 700;
  line-height: 17.36px;
  text-align: center;
  color: #7191a5;
}

/* header end  */

/* results start  */

.win-results {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
  margin-inline: 24px;
}

.win-result-box {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #dfe7ec;
  border-radius: 12px;
}

.win-result-box p {
  font-size: 13px;
  font-weight: 700;
  line-height: 16.12px;
  text-align: left;
  color: #7191a5;
}

.win-result-box h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: right;
  color: #304859;
}

/* results end  */

/* footer start  */

.win-footer {
  display: flex;
  flex-direction: column;
  margin-inline: 24px;
  gap: 16px;
}

.win-footer a {
  font-size: 18px;
  font-weight: 700;
  line-height: 22.32px;
  text-align: center;
  text-decoration: none;
}

.win-res {
  background-color: #fda214;
  color: #fcfcfc;
  padding: 12px 108px;
  border-radius: 25px;
}

.win-new-game {
  background-color: #dfe7ec;
  color: #304859;
  padding: 13px 66px;
  border-radius: 25px;
}

/* footer end  */

/*? multi win end  */

/*? multi 6x6 icon start  */

.choose-icon {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 327px;
  margin: 0 auto;
  gap: 10px;
  padding-bottom: 94px;
}

.choose-icon button {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.76px;
  text-align: center;
  border: none;
  border-radius: 50%;
  background-color: #bcced9;
  color: #fcfcfc;
  width: 47px;
  height: 47px;
}

/*? multi 6x6 icon start  */

/*? multi icon 4x4 start  */
.choose-icon-x4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 327px;
  margin: 0 auto;
  gap: 12px;
  padding-bottom: 94px;
}

.choose-icon-x4 button {
  border: none;
  border-radius: 50%;
  background-color: #bcced9;
  color: #fcfcfc;
  width: 72px;
  height: 72px;
}

/*? multi icon 4x4 end  */

/*? mobile menü start  */

.mob-container {
  background-color: #f2f2f2;
  padding-block: 24px;
}

.mob-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-inline: 24px;
}

.mob-nav a {
  margin: 0 auto;
  font-family: "Atkinson Hyperlegible", sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.32px;
  text-align: center;
}

.mob-new-game {
  padding: 13px 110px;
  color: #304859;
  background-color: #dfe7ec;
  border-radius: 25px;
}

.mob-resume {
  padding: 13px 85px;
  color: #304859;
  background-color: #dfe7ec;
  border-radius: 25px;
}

/*? mobile menü end  */

/*! mobil end  */

/*! tablet  start */

@media (width >= 768px) {
  /*? start game start  */

  /* header start  */

  .header {
    margin: 0 auto;
    width: 153px;
    padding-top: 170px;
    padding-bottom: 78px;
  }

  /* header end  */

  /* entry start  */

  .entry {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #fcfcfc;
    padding-bottom: 56px;
    padding-top: 56px;
    margin: 0 auto;
    border-radius: 12px;
    margin-inline: 57px;
  }

  .entry-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
    margin-inline: 56px;
  }

  .entry-box button {
    font-size: 26px;
    font-weight: 700;
    line-height: 32.24px;
    text-align: center;
    color: #fcfcfc;
  }

  .entry-box p {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.8px;
    text-align: left;
    color: #7191a5;
  }

  .entry-box-button-theme {
    display: flex;
    gap: 30px;
  }

  .entry-box-button-theme button {
    border: none;
    border-radius: 25px;
    background-color: #bcced9;
  }

  .entry-box-button-theme .number {
    background-color: #304859;
    padding: 10px 70px;
  }

  .entry-box-button-theme .icon {
    padding: 10px 90px;
  }

  .entry-box-button-number {
    display: flex;
    gap: 35px;
  }

  .entry-box-button-number button {
    border: none;
    border-radius: 20px;
    padding: 10px 42px;
    background-color: #bcced9;
  }

  .entry-box-button-grid {
    display: flex;
    gap: 30px;
    margin-bottom: 8px;
  }

  .entry-box-button-grid button {
    border: none;
    border-radius: 25px;
    background-color: #bcced9;
    padding: 10px 100px;
  }

  .entry-box-button-grid .x4 {
    background-color: #304859;
  }

  .start-btn {
    margin: 0 auto;
    margin-inline: 56px;
  }

  .start-btn a {
    font-size: 32px;
    font-weight: 700;
    line-height: 39.68px;
    text-align: center;
    text-decoration: none;
    color: #fcfcfc;
    background-color: #fda214;
    border-radius: 35px;
    padding: 15px 170px;
  }

  /* entry end  */

  /*? start game end  */

  /*? multiplayer 6x6 start  */

  .container {
    margin: 0 auto;
    background-color: #fcfcfc;
    font-family: "Atkinson Hyperlegible", sans-serif;
    padding-top: 24px;
  }

  /* header start  */

  .game-header {
    display: flex;
    justify-content: space-between;
    margin-inline: 40px;
    padding-bottom: 121px;
  }

  .tab-header-btn {
    display: flex;
    gap: 16px;
  }

  .tab-header-btn .res {
    display: block;
    padding: 13px 24px;
  }

  .tab-header-btn .new-game {
    display: block;
    background-color: #dfe7ec;
    padding: 13px 24px;
  }

  .menu {
    display: none;
  }

  /* header end  */

  /* choose start  */

  .choose {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 572px;
    margin: 0 auto;
    gap: 16px;
    padding-bottom: 112px;
  }

  .choose button {
    font-size: 44px;
    font-weight: 700;
    line-height: 54.56px;
    text-align: center;
    border: none;
    border-radius: 50%;
    background-color: #bcced9;
    color: #fcfcfc;
    width: 82px;
    height: 82px;
  }

  /* choose end  */

  /* footer start  */

  .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin: 0 auto;
    width: 690px;
    padding-bottom: 24px;
  }

  .footer-box {
    padding: 10px 14px;
    background-color: #dfe7ec;
    border-radius: 10px;
  }

  .footer-box:active::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 19px solid transparent;
    border-bottom-color: #fda214;
    top: -35px;
    left: 58px;
  }

  .footer-box p {
    font-size: 15px;
    font-weight: 700;
    line-height: 18.6px;
    text-align: left;
    color: #7191a5;
  }

  .user {
    display: block;
  }

  .mob-user {
    display: none;
  }

  .footer-box h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.76px;
    text-align: left;
    color: #304859;
  }

  /*? multiplayer 6x6 end  */

  /*? solo 6x6 start  */

  /* footer start  */

  .solo-footer {
    gap: 30px;
    width: 540px;
    margin: 0 auto;
    padding-bottom: 48px;
  }

  .solo-footer p {
    font-size: 18px;
    font-weight: 700;
    line-height: 22.32px;
    text-align: left;
  }

  .solo-footer h4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 39.68px;
    text-align: right;
  }

  .solo-footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 25px;
  }



  /* footer end  */

  /*? solo 6x6 start  */

  /*? multi 4x4 start  */

  /* choose start  */

  .choose-x4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 532px;
    margin: 0 auto;
    gap: 12px;
    padding-bottom: 94px;
  }

  .choose-x4 button {
    font-size: 40px;
    font-weight: 700;
    line-height: 49.6px;
    text-align: center;
    border: none;
    border-radius: 50%;
    background-color: #bcced9;
    color: #fcfcfc;
    width: 118px;
    height: 118px;
  }

  /* choose end  */

  /*? multi 4x4 end  */

  /*? multi win start  */

  .win-container {
    width: 654px;
    margin: 0 auto;
    background-color: #fcfcfc;
    font-family: "Atkinson Hyperlegible", sans-serif;
    padding-top: 24px;
  }

  /* header start  */

  .win-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .win-header h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 59.52px;
    text-align: center;
    color: #152938;
  }

  .win-header p {
    font-size: 18px;
    font-weight: 700;
    line-height: 22.32px;
    text-align: center;
    color: #7191a5;
  }

  /* header end  */

  /* results start  */

  .win-results {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 56px;
    margin-inline: 56px;
  }

  .win-result-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 32px;
    background-color: #dfe7ec;
    border-radius: 12px;
  }

  .win-result-box p {
    font-size: 18px;
    font-weight: 700;
    line-height: 22.32px;
    text-align: left;
    color: #7191a5;
  }

  .win-result-box h5 {
    font-size: 32px;
    font-weight: 700;
    line-height: 39.68px;
    text-align: right;
    color: #304859;
  }

  /* results end  */

  /* footer start  */

  .win-footer {
    display: flex;
    flex-direction: row;
    margin-inline: 56px;
    gap: 16px;
    padding-bottom: 70px;
  }

  .win-footer a {
    font-size: 18px;
    font-weight: 700;
    line-height: 22.32px;
    text-align: center;
    text-decoration: none;
  }

  .win-res {
    background-color: #fda214;
    color: #fcfcfc;
    padding: 13px 81px;
    border-radius: 25px;
  }

  .win-new-game {
    background-color: #dfe7ec;
    color: #304859;
    padding: 13px 71px;
    border-radius: 25px;
  }

  /* footer end  */

  /*? multi win end  */

  /* choose icon start  */

  /*? multi 6x6 icon start  */

  .choose-icon {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 572px;
    margin: 0 auto;
    gap: 16px;
    padding-bottom: 112px;
  }

  .choose-icon button {
    font-size: 44px;
    font-weight: 700;
    line-height: 54.56px;
    text-align: center;
    border: none;
    border-radius: 50%;
    background-color: #bcced9;
    color: #fcfcfc;
    width: 82px;
    height: 82px;
  }

  /* choose icon end  */
  /*? multi 6x6 icon start  */

  /*? multi icon 4x4 start  */

  .choose-icon-x4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 532px;
    margin: 0 auto;
    gap: 12px;
    padding-bottom: 94px;
  }

  .choose-icon-x4 button {
    border: none;
    border-radius: 50%;
    background-color: #bcced9;
    color: #fcfcfc;
    width: 118px;
    height: 118px;
  }

  

  /*? multi icon 4x4 end  */

  /*? mob menü start  */

  .mob-container {
    display: none;
  }

  /*? mob menü end  */
}

/*! tablet  end */

/*! desktop start  */

@media (width >= 1024px) {
  /* header start  */

  .header {
    margin: 0 auto;
    width: 153px;
    padding-top: 154px;
    padding-bottom: 78px;
  }

  /* header end  */

  /* entry start  */

  .entry {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #fcfcfc;
    padding-bottom: 56px;
    padding-top: 56px;
    margin: 0 auto;
    border-radius: 12px;
    margin-inline: 393px;
  }

  .entry button:hover {
    background-color: #6395b8;
  }

  .start-btn a:hover {
    background-color: #ffb84a;
    cursor: pointer;
  }

  /* entry end  */

  /*? start game end  */

  /*? multiplayer 6x6 start  */

  .container {
    margin: 0 auto;
    background-color: #fcfcfc;
    font-family: "Atkinson Hyperlegible", sans-serif;
    padding-top: 24px;
  }

  /* header start  */

  .game-header {
    display: flex;
    justify-content: space-between;
    margin-inline: 165px;
    padding-bottom: 85px;
  }

  .tab-header-btn {
    display: flex;
    gap: 16px;
  }

  .tab-header-btn .res {
    padding: 13px 24px;
  }

  .tab-header-btn .new-game {
    background-color: #dfe7ec;
    padding: 13px 24px;
    color: #304859;
  }

  .tab-header-btn .new-game:hover {
    background-color: #6395b8;
    color: #fcfcfc;
  }

  .tab-header-btn .res:hover {
    background-color: #ffb84a;
  }
  /* header end  */

  /* choose start  */

  .choose {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 auto;
    width: 572px;
    gap: 16px;
    padding-bottom: 83px;
  }

  .choose button {
    font-size: 44px;
    font-weight: 700;
    line-height: 54.56px;
    text-align: center;
    border: none;
    border-radius: 50%;
    background-color: #bcced9;
    color: #fcfcfc;
  }

  .choose button:hover {
    background-color: #6395b8;
  }

  /* choose end  */

  /* footer start  */

  .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin: 0 auto;
    width: 1110px;
    padding-bottom: 24px;
  }

  .footer-box {
    display: flex;
    justify-content: space-between;
    background-color: #dfe7ec;
    border-radius: 10px;
    padding-block: 25px;
  }

  .footer-box p {
    font-size: 15px;
    font-weight: 700;
    line-height: 18.6px;
    text-align: left;
    color: #7191a5;
  }

  .footer-box:active::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 19px solid transparent;
    border-bottom-color: #fda214;
    top: -36px;
    left: 110px;
  }
  .user {
    display: block;
  }

  .mob-user {
    display: none;
  }

  .footer-box h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.76px;
    text-align: left;
    color: #304859;
  }

  /*? multiplayer 6x6 end  */

  /*? solo 6x6 start  */

  /* footer start  */

  .solo-footer {
    gap: 30px;
    width: 540px;
    margin: 0 auto;
    padding-bottom: 70px;
  }

  .solo-footer p {
    font-size: 18px;
    font-weight: 700;
    line-height: 22.32px;
    text-align: left;
  }

  .solo-footer h4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 39.68px;
    text-align: right;
  }

  .solo-footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 117px;
    padding: 25px 21px;
  }

  

  /* footer end  */

  /*? solo 6x6 start  */

  /*? multi 4x4 start  */

  /* choose start  */

  .choose-x4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 532px;
    margin: 0 auto;
    gap: 12px;
    padding-bottom: 94px;
  }

  .choose-x4 button {
    font-size: 40px;
    font-weight: 700;
    line-height: 49.6px;
    text-align: center;
    border: none;
    border-radius: 50%;
    background-color: #bcced9;
    color: #fcfcfc;
    width: 118px;
    height: 118px;
  }

  /* choose end  */

  /*? multi 4x4 end  */

  /*? multi 6x6 icon start  */

  .choose-icon {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 572px;
    margin: 0 auto;
    gap: 16px;
    padding-bottom: 83px;
  }

  .choose-icon button {
    border: none;
    border-radius: 50%;
    background-color: #bcced9;
    color: #fcfcfc;
    width: 82px;
    height: 82px;
  }

  /* choose icon end  */
  /*? multi 6x6 icon start  */

  /*? multi icon 4x4 start  */
  .choose-icon-x4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 532px;
    margin: 0 auto;
    gap: 12px;
    padding-bottom: 94px;
  }

  .choose-icon-x4 img {
    width: 56px;
  }

  .choose-icon-x4 button {
    border: none;
    border-radius: 50%;
    background-color: #bcced9;
    color: #fcfcfc;
    width: 118px;
    height: 118px;
  }

  /*? multi icon 4x4 end  */

  /*? mob menü start  */

  .mob-container {
    display: none;
  }

  /*? mob menü end  */
}

/*! desktop end  */
